/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

/* @font-face {
  font-family: "Tiempos";
  src: url(Tiempos Headline-Semibold.otf) format("opentype");
} */
/* not doing anything at the moment */

/* styling for header/links NEED THE z-index because the links were in the back */
.header {
  font-family: "Tiempos Headline", sans-serif;
  padding-top: 20px;
  color: #7e38ff;
  display: block;
  position: fixed;
  /* padding-left:  */
  margin-bottom: 100px;
  /* width: 700px; */
  z-index: 9999;
}

.header h1 {
  font-size: 15pt;
  color: #7e38ff;
  margin: 0;
  line-height: 1.1;
  padding-bottom: 30px;
  /* white-space: nowrap; */
}

/* @media (min-width: 450px) {
  .header h1 {
    padding-left: 30px;
  }
} */

@media (min-width: 600px) {
  .header h1 {
    font-size: 20pt;
  }
}

@media (min-width: 1050px) {
  .header h1 {
    font-size: 25pt;
  }
}

@media (min-width: 1150px) {
  .header h1 {
    font-size: 30pt;
  }
}

@media (min-width: 1300px) {
  .header h1 {
    font-size: 35pt;
  }
}

.underline {
  /* color: #58427f; */
  text-decoration: underline;
  display: inline;
}

/* unvisited link */
a:link {
  color: #7e38ff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #7e38ff;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: #58427f;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #58427f;
  text-decoration: underline;
}
/* header */
.header ul {
  list-style-type: none;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (min-width: 450px) {
  .header ul {
    padding-left: 50px;
  }
}

/* for projects */
/* .three ul {
  list-style-type: none;
  margin: 0;
  padding-top: 200px;
  padding-left: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (min-width: 450px) {
  .three ul {
    padding-left: 50px;
  }
} */

li {
  display: inline;
  /* padding-left: 40px; */
  padding-right: 25px;
}

.background {
  background-color: #dcdee2;
  background-size: cover;
}

/* .gridpages {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  grid-gap: 20px;
} */

.texttitles {
  font-family: "Maison Neue", sans-serif;
  line-height: 1.6;

  padding-left: 30px;
  /* padding-right: 70px; */
  color: #58427f;
  padding-top: 80px;
  /* width: 500px; */
  text-decoration: underline;
  font-size: 8pt;
}

@media (min-width: 450px) {
  .texttitles {
    padding-left: 70px;
  }
}

@media (min-width: 760px) {
  .texttitles {
    font-size: 9pt;
  }
}

@media (min-width: 950px) {
  .texttitles {
    position: fixed;
    padding-top: 100px;
  }
}

@media (min-width: 1050px) {
  .texttitles {
    width: 500px;
    font-size: 10pt;
    padding-top: 132px;
  }
}

@media (min-width: 1150px) {
  .texttitles {
    width: 500px;
    font-size: 11pt;
  }
}

@media (min-width: 1250px) {
  .texttitles {
    width: 500px;
    font-size: 12pt;
  }
}

.medium {
  font-family: "Maison Neue", sans-serif;
  line-height: 1.6;

  padding-left: 30px;
  /* padding-right: 70px; */
  color: #58427f;

  /* bottom: 50; */
  /* right: 50; */
  /* width: 500px; */
  font-size: 8pt;
}

@media (min-width: 450px) {
  .medium {
    padding-left: 70px;
  }
}

@media (min-width: 760px) {
  .medium {
    font-size: 9pt;
  }
}

@media (min-width: 950px) {
  .medium {
    position: fixed;
    padding-top: 130px;
  }
}

@media (min-width: 1050px) {
  .medium {
    width: 500px;
    font-size: 10pt;
    padding-top: 170px;
  }
}

@media (min-width: 1150px) {
  .medium {
    width: 500px;
    font-size: 11pt;
  }
}

@media (min-width: 1250px) {
  .medium {
    width: 500px;
    font-size: 12pt;
  }
}

.paper {
  font-family: "Maison Neue", sans-serif;
  line-height: 1.6;

  padding-left: 30px;
  /* padding-right: 70px; */
  color: #58427f;

  /* bottom: 50; */
  /* right: 50; */
  /* width: 500px; */
  font-size: 8pt;
}

@media (min-width: 450px) {
  .paper {
    padding-left: 70px;
  }
}

@media (min-width: 760px) {
  .paper {
    font-size: 9pt;
  }
}

@media (min-width: 950px) {
  .paper {
    position: fixed;
    padding-top: 160px;
  }
}

@media (min-width: 1050px) {
  .paper {
    width: 500px;
    font-size: 10pt;
    padding-top: 200px;
  }
}

@media (min-width: 1150px) {
  .paper {
    width: 500px;
    font-size: 11pt;
  }
}

@media (min-width: 1250px) {
  .paper {
    width: 500px;
    font-size: 12pt;
  }
}

.year {
  font-family: "Maison Neue", sans-serif;
  line-height: 1.6;

  padding-left: 30px;
  /* padding-right: 70px; */
  color: #58427f;

  /* bottom: 50; */
  /* right: 50; */
  /* width: 500px; */
  font-size: 8pt;
}

@media (min-width: 450px) {
  .year {
    padding-left: 70px;
  }
}

@media (min-width: 760px) {
  .year {
    font-size: 9pt;
  }
}

@media (min-width: 950px) {
  .year {
    position: fixed;
    padding-top: 190px;
  }
}

@media (min-width: 1050px) {
  .year {
    width: 500px;
    font-size: 10pt;
    padding-top: 230px;
  }
}

@media (min-width: 1150px) {
  .year {
    width: 500px;
    font-size: 11pt;
  }
}

@media (min-width: 1250px) {
  .year {
    width: 500px;
    font-size: 12pt;
  }
}

.format {
  font-family: "Maison Neue", sans-serif;
  line-height: 1.6;

  padding-left: 30px;
  /* padding-right: 70px; */
  color: #58427f;

  /* bottom: 50; */
  /* right: 50; */
  /* width: 500px; */
  font-size: 8pt;
}

@media (min-width: 450px) {
  .format {
    padding-left: 70px;
  }
}
@media (min-width: 760px) {
  .format {
    font-size: 9pt;
  }
}

@media (min-width: 950px) {
  .format {
    position: fixed;
    padding-top: 220px;
  }
}

@media (min-width: 1050px) {
  .format {
    width: 500px;
    font-size: 10pt;
    padding-top: 260px;
  }
}

@media (min-width: 1150px) {
  .format {
    width: 500px;

    font-size: 11pt;
  }
}

@media (min-width: 1250px) {
  .format {
    width: 500px;
    font-size: 12pt;
  }
}

.textleft {
  font-family: "Maison Neue", sans-serif;
  line-height: 1.6;

  padding-top: 30px;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  padding-left: 50px;
  padding-right: 30px;
  /* padding-right: 70px; */
  color: #58427f;

  /* bottom: 50; */
  /* right: 50; */
  /* width: 850px;  don't put width when you want the text to shrink on its own*/
  font-size: 8pt;
}

@media (min-width: 450px) {
  .textleft {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 760px) {
  .textleft {
    font-size: 9pt;
  }
}

@media (min-width: 950px) {
  .textleft {
    width: 380px;
    padding-right: 0px;
    padding-top: 290px;
    font-size: 10pt;
    padding-left: 70px;
    line-height: 1.6;
    position: fixed;
  }
}

@media (min-width: 1050px) {
  .textleft {
    width: 430px;
    padding-top: 330px;
    font-size: 10pt;
    line-height: 1.6;
  }
}

@media (min-width: 1150px) {
  .textleft {
    width: 500px;
    font-size: 11pt;
    line-height: 1.6;
  }
}

@media (min-width: 1250px) {
  .textleft {
    width: 500px;
    font-size: 12pt;
  }
}

/* need z-index; */
.textright {
  font-family: "Maison Neue", sans-serif;
  font-size: 6pt;
  line-height: 1.6;
  /* when fixed it messes up */
  position: fixed;
  padding-top: 550px;

  /* bottom: 0; */
  z-index: 9999;
}

.textright ul {
  list-style-type: none;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
}

@media (min-width: 450px) {
  .textright ul {
    padding-left: 50px;
    top: 0;
  }
}

@media (min-width: 450px) {
  .textright ul {
    padding-left: 50px;
  }
}

.textright li {
  display: block;
}

/* @media (min-width: 500px) {
  .textright li {
    bottom: 0;
  }
} */

/* @media (min-width: 400px) {
  .textright li {
      position: fixed;
  }
}

@media (min-width: 400px) {
  .textright {
      position: fixed;
  }
} */

@media (min-width: 1150px) {
  .textright {
    font-size: 8pt;
  }
}

/* styling for header/links */

/* for the largest flexbox @1000-to make 4 column*/

/* .boxmedflex {
  display: flex;
}

.onemedflex {
  flex: 1 1 0;
}

@media (min-width: 1000px) {
  .onemedflex {
    flex: 0 0 0;
  }
}

.twomedflex {
  flex: 2 1 0;
}

@media (min-width: 1000px) {
  .twomedflex {
    flex: 0 0 0;
  }
}

.threemedflex {
  flex: 1 1 0;
}

@media (min-width: 1000px) {
  .threemedflex {
    flex: 0 0 0;
  }
} */

.boxhome {
  padding-top: 100px;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 650px) {
  .boxhome {
    padding-top: 100px;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
  }
}

@media (min-width: 1000px) {
  .boxhome {
    display: flex;
  }
}

/* @1250 is the next break point
then @1000*/
/* .onehome {
  flex: 25%;
  max-width: 25%;
} */
.onehome {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1000px) {
  .onehome {
    flex: 10%;
    /* height: 400px; */
    padding-left: 50px;
    padding-right: 0;
  }
}

@media (min-width: 1370px) {
  .onehome {
    padding-left: 50px;
  }
}

/* .twohome {
  flex: 25%;
  max-width: 25%;
} */

@media (min-width: 1000px) {
  .twohome {
    flex: 50%;
    padding-left: 20px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1370px) {
  .twohome {
    padding-left: 50px;
  }
}

.threehome {
  padding-right: 40px;
}

@media (min-width: 1000px) {
  .threehome {
    flex: 20%;
    padding-right: 0px;
    /* padding-left: 20px; */
  }
}

@media (min-width: 1370px) {
  .threehome {
    padding-left: 50px;
  }
}

@media (min-width: 1000px) {
  .fourhome {
    flex: 20%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* @media (min-width: 1000px) {
  .fourhome {
    flex: 2 1 0;
    padding-left: 20px;
    padding-right: 20px;
  }
} */

@media (min-width: 1370px) {
  .fourhome {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.art {
  width: 200px;

  /* padding-left: 8px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 50px;
  /* padding-bottom: 1000px; */
}

@media (min-width: 400px) {
  .art {
    width: 250px;
  }
}

@media (min-width: 650px) {
  .art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }
}

@media (min-width: 800px) {
  .art {
    width: 250px;
  }
}

@media (min-width: 1000px) {
  .art {
    width: 190px;
  }
}

@media (min-width: 1250px) {
  .art {
    width: 240px;
  }
}

/* not used on homepage */
.artmed {
  width: 250px;
  padding-bottom: 20px;
  /* padding-left: 8px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 95px;
  padding-right: 20px;
  /* padding-bottom: 50px; */
  /* padding-bottom: 1000px; */
}

@media (min-width: 1250px) {
  .artmed {
    width: 340px;
  }
}

.artlarge {
  width: 250px;
  padding-bottom: 20px;
  /* padding-left: 8px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 50px;
}

@media (min-width: 400px) {
  .artlarge {
    width: 350px;
  }
}

@media (min-width: 800px) {
  .artlarge {
    width: 450px;
  }
}

@media (min-width: 1000px) {
  .artlarge {
    width: 300px;
  }
}

@media (min-width: 1050px) {
  .artlarge {
    width: 350px;
  }
}

@media (min-width: 1250px) {
  .artlarge {
    width: 400px;
  }
}

/* for the work pages where it goes
try commenting out the width too*/

.artonpage {
  width: 280px;

  /* padding-left: 8px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;

  padding-bottom: 50px;
  /* padding-bottom: 1000px;
  coding*/
}
@media (min-width: 500px) {
  .artonpage {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 600px) {
  .artonpage {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 760px) {
  .artonpage {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 950px) {
  .artonpage {
    width: 400px;
    margin-left: 125px;
    padding-top: 100px;
  }
}

@media (min-width: 1050px) {
  .artonpage {
    padding-top: 140px;
  }
}

@media (min-width: 1150px) {
  .artonpage {
    width: 450px;
  }
}

@media (min-width: 1350px) {
  .artonpage {
    width: 550px;
  }
}
/* used but the posters were not center to get them in center i have a gray background on each image */
.posteronpage {
  width: 250px;

  /* padding-left: 8px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 40px; */

  padding-bottom: 50px;
  /* padding-bottom: 1000px; */
}
@media (min-width: 500px) {
  .posteronpage {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 600px) {
  .posteronpage {
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 760px) {
  .posteronpage {
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 950px) {
  .posteronpage {
    width: 350px;
    margin-left: 125px;

    /* padding-top: 100px; */
  }
}

@media (min-width: 1050px) {
  .posteronpage {
    /* padding-top: 140px; */
  }
}

@media (min-width: 1150px) {
  .posteronpage {
    width: 350px;
  }
}

@media (min-width: 1350px) {
  .posteronpage {
    width: 350px;

    /* padding-left: 100px; */
  }
}

.posterpad {
  padding-left: 100px;
}

/* trying to center */

.artsmall {
  width: 150px;
  padding-bottom: 30px;
  /* padding-left: 8px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 0px;
}

@media (min-width: 800px) {
  .artsmall {
    width: 150px;
  }
}

@media (min-width: 1000px) {
  .artsmall {
    width: 150px;
  }
}

@media (min-width: 1250px) {
  .artsmall {
    width: 150px;
  }
}

.artspace {
  padding-bottom: 20px;
}

.box {
  color: red;
}

@media (min-width: 950px) {
  .box {
    display: flex;
  }
}

.one {
  flex: 3 1 0;
  /* height: 400px; */
}

.two {
  padding-top: 0px;
}

@media (min-width: 950px) {
  .two {
    flex: 4 1 0;
    padding-top: 0px;
  }
}

.three {
  padding-left: 0px;
  bottom: 0;
}

@media (min-width: 450px) {
  .three {
    padding-left: 290px;
  }
}

@media (min-width: 600px) {
  .three {
    padding-left: 400px;
  }
}

@media (min-width: 760px) {
  .three {
    padding-left: 600px;
  }
}

@media (min-width: 950px) {
  .three {
    flex: 1 1 0;
    padding-right: 80px;
    padding-left: 0px;
  }
}

@media (min-width: 1120px) {
  .three {
    padding-right: 40px;
  }
}
